<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" mode="ios"></ion-back-button>
        </ion-buttons>
        <ion-title>Marked Quiz</ion-title>
        <ion-fab-button slot="end">
            <b>7 / 10</b>
        </ion-fab-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-justify-content-center">
        <ion-col size="11" class="py-0">
            <ion-card class="withdrawCard" style="background-color: #fafafa">
                <ion-radio-group value="1998">
                    <ion-list-header>
                        <ion-label>
                            Q1: when pakistan became nuclear power
                        </ion-label>
                    </ion-list-header>
                    <ion-item lines="none">
                        <ion-radio value="1998" color="success"></ion-radio>
                        <ion-label color="success">1998</ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-radio value="1957"></ion-radio>
                        <ion-label>1957</ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-radio value="1965"></ion-radio>
                        <ion-label>1965</ion-label>
                    </ion-item>
                </ion-radio-group>
                <ion-radio-group value="2008">
                    <ion-item lines="none">
                        <ion-radio value="2008" color="danger"></ion-radio>
                        <ion-label color="danger">2008</ion-label>
                    </ion-item>
                </ion-radio-group>
                <ion-item>
                    <ion-icon slot="start" color="primary" name="laptop"></ion-icon>
                    <ion-label>Status | Wrong Selection</ion-label>
                    <ion-icon color="danger" slot="end" name="close"></ion-icon>
                </ion-item>
            </ion-card>
            <ion-card class="withdrawCard" style="background-color: #fafafa">
                <ion-radio-group value="1947">
                    <ion-list-header>
                        <ion-label>
                            Q2: when pakistan came into being
                        </ion-label>
                    </ion-list-header>
                    <ion-item lines="none">
                        <ion-radio value="1998"></ion-radio>
                        <ion-label>1998</ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-radio value="1947" color="success"></ion-radio>
                        <ion-label color="success">1947</ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-radio value="1965"></ion-radio>
                        <ion-label>1965</ion-label>
                    </ion-item>
                    <ion-item lines="none">
                        <ion-radio value="2008"></ion-radio>
                        <ion-label>none</ion-label>
                    </ion-item>
                </ion-radio-group>
                <ion-item>
                    <ion-icon slot="start" color="primary" name="laptop"></ion-icon>
                    <ion-label>Status | Correct Selection</ion-label>
                    <ion-icon color="success" slot="end" name="checkmark"></ion-icon>
                </ion-item>
            </ion-card>
            <ion-card class="withdrawCard" style="background-color: #fafafa">
                <ion-radio-group value="1947">
                    <ion-list-header>
                        <ion-label>
                            Q3: What is data difference between foreign and primary key?
                            <ion-icon color="success" slot="end" name="bookmark"></ion-icon>
                        </ion-label>
                    </ion-list-header>
                </ion-radio-group>
                <ion-item>
                    <p><b>Correct Answer:</b> Primary key and foreign key are the two most important and common types of
                        keys
                        used in relational databases. A primary key is a special key used to uniquely identify records
                        in a
                        table, whereas a foreign key is used to establish relationship between two tables</p>
                </ion-item>
                <ion-item>
                    <ion-icon color="primary" slot="start" name="laptop"></ion-icon>
                    <ion-label><b>Your Answer:</b> foreign key is the key used by the my roommate when I do't in the
                        room
                    </ion-label>
                    <ion-icon color="danger" slot="end" name="close"></ion-icon>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>

